{% extends 'base.html' %}
{% load static %}


{% block content %}

  
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500,600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

</style>

<!-- Buttons -->

<div class="p-22 bg-white flex justify-center space-x-6 ">
    <a class="bg-yellow-600 hover:bg-red-500 py-3 px-8 rounded-lg text-yellow-100 border-b-4 border-yellow-700 hover:border-yellow-800 transition duration-700" href="{% url 'ishemic_cancer' %}">Cyber security</a>

    
  </div>
  

 
{% endblock content %}

